<template>
    <lightning-layout>
        <lightning-layout-item size="3" padding="around-small">
            <c-my-list-detail-search-component record-id={recordId} onsearchresultfound={searchResultFoundHandler}></c-my-list-detail-search-component>
        </lightning-layout-item>
        <template if:true={showDataTable}>
            <lightning-layout-item size="6" padding="around-small">
                <c-my-list-detail-data-component record-id={recordId} list-items={listItems} onmylistselected={myListSelectedHandler} onrefreshdata={refreshHandler}></c-my-list-detail-data-component>
            </lightning-layout-item>
            <lightning-layout-item size="3" padding="around-small">
                <c-my-list-detail-recorddetail-component></c-my-list-detail-recorddetail-component>
            </lightning-layout-item>
        </template>
    </lightning-layout>
</template>