<template>
    <div style="text-align: center;">
        <c-file-list-all-records-row-actions
            file-id={value}
            action={typeAttributes.action}
        ></c-file-list-all-records-row-actions>
    </div>
</template>