<template>
    <lightning-card title={label.title} icon-name="standard:search">
        <div class="slds-m-left_medium slds-m-right_medium">
            <lightning-input
                name="enter-search"
                label={label.searchDescription}
                placeholder={label.searchPlaceholder}
                value=""
                onchange={changeHandler}
                onkeyup={keyUpHandler}
                type="search"
            ></lightning-input>

            <lightning-radio-group name="radioGroup"
                variant="label-hidden"
                options={options}
                value={searchObject}
                type="radio"
                class="slds-m-top_medium"></lightning-radio-group>
        </div>
    </lightning-card>
</template>