<!-- US 2407 -->
<template>
    <div class="slds-grid slds-wrap slds-gutters">
        <section role="dialog" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title={label.close} onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                        </lightning-icon>
                        <span class="slds-assistive-text">{label.close}</span>
                    </button>
                    <h2 class="slds-text-heading_medium slds-hyphenate">
                            {label.header}
                        </h2>
                </header>

                <div class="slds-modal__content slds-p-around_medium">
                    <lightning-layout multiple-rows="true">
                        <lightning-layout-item size="12">
                            <lightning-input value={defaultTopicValue} data-id="topicInput" type="text" label={label.subject} required></lightning-input>
                        </lightning-layout-item>
                        <lightning-layout-item size="12">
                            <template if:true={user.data}>
                                <c-lookup
                                    field-api-name={ownerField.apiName}
                                    object-api-name={ownerField.objectApiName}
                                    onsearch={handleOwnerLookupSearch}
                                    onselectionchange={handleOwnerSelectionChange}
                                    label={label.assignedTo}
                                    is-multi-entry={ownerField.isMultiEntry}
                                    data-id="ownerSearchInput"
                                    invalid-message={label.ownerErrorMessage}
                                    required>
                                </c-lookup>
                            </template>
                        </lightning-layout-item>
                        <lightning-layout-item size="12">
                            <lightning-input data-id="dateInput" type="date" label={label.date} value={dateValue} required></lightning-input>
                        </lightning-layout-item>
                        <lightning-layout-item size="12">
                            <lightning-textarea data-id="commentInput" label={label.comment}></lightning-textarea>
                        </lightning-layout-item>
                    </lightning-layout>
                </div>

                <footer class="slds-modal__footer">
                    <lightning-button data-id="closeButton" label={label.cancel} title={label.cancel} onclick={closeModal} style="padding-right: 12px">
                    </lightning-button>
                    <lightning-button data-id="deleteButton" label={label.save} title={label.save} onclick={createActivity} variant="brand">
                    </lightning-button>
                </footer>
            </div>
        </section>

        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>