<template>
    <section role="dialog" class="slds-modal slds-fade-in-open slds-modal_small">
        <lightning-record-edit-form
            record-id={listId}
            object-api-name={listApiName}
            onsubmit={handleSubmit}
        >
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button
                        class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title={label.close}
                        onclick={cancel}
                    >
                        <lightning-icon
                            icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small"
                        >
                        </lightning-icon>
                        <span class="slds-assistive-text">{label.close}</span>
                    </button>
                    <h2 class="slds-text-heading_medium slds-hyphenate">
                        {headerMessage}
                    </h2>
                </header>

                <div class="slds-modal__content slds-p-around_medium" style="overflow: initial;">

                        <div class="slds-grid slds-wrap custom-container">
                            <lightning-input-field value={nameValue} field-name={nameFieldApiName} required></lightning-input-field>
                            <lightning-input-field field-name={descriptionFieldApiName} value={descriptionValue}></lightning-input-field>

                            <template if:true={showAccessForm}>
                                <div class="slds-size_1-of-2 slds-max-small-size_1-of-1 slds-p-around_x-small">
                                    <lightning-input-field value={accessType} field-name={accessTypeFieldApiName} onchange={handleAccessTypeChange}></lightning-input-field>
                                </div>

                                <div class="slds-size_1-of-2 slds-max-small-size_1-of-1 slds-p-around_x-small">
                                    <template if:true={showOwner}>
                                        <br/>{label.listOwner}<br/>
                                        <a href={userRecordUrl} target="_blank">{currentList.ownerName}</a>
                                    </template>
                                </div>

                                <template if:true={showAddAccess}>
                                    <div class="slds-size_4-of-8 slds-p-around_x-small">
                                        <label class="slds-form-element__label" for="input">
                                            {label.userOrGroup}
                                        </label>
                                        <div class="slds-form-element__control">
                                            <input onchange={handleUserOrGroupSelected} id="input" name="input" list="valueList" placeholder={label.searchPlaceholder} class="slds-input" type="text"  />
                                            <datalist id="valueList">
                                                <template for:each={usersOrGroups} for:item='item'>
                                                    <option key={item.key} data-id={item.key} value={item.value} >{item.value}</option>
                                                  </template>
                                            </datalist>
                                        </div>
                                    </div>


                                    <div class="slds-size_3-of-8 slds-p-around_x-small">
                                        <lightning-combobox
                                        name="access"
                                        label={label.access}
                                        value={access}
                                        options={accessReadOrWrite}
                                        onchange={handleAccessReadOrWriteChange} ></lightning-combobox>
                                    </div>

                                    <div class="slds-size_1-of-8 slds-max-small-size_1-of-1 slds-p-top_x-large">
                                        <lightning-button label="+" onclick={handleAddAccessClick} ></lightning-button>
                                    </div>

                                    <div if:true={showAccessTable} class="slds-size_2-of-2 slds-max-small-size_1-of-1 slds-p-around_x-small">
                                        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                                            <thead>
                                                <tr class="slds-line-height_reset">
                                                <th class="" scope="col">
                                                    <div class="slds-truncate" >{label.userOrGroupName}</div>
                                                </th>
                                                <th class="" scope="col">
                                                    <div class="slds-truncate" >{label.access}</div>
                                                </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <template for:each={accessList} for:item="sharingRecord">
                                                    <tr class="slds-hint-parent" key={sharingRecord.Id}>
                                                        <td data-label="Name">
                                                            <div class="slds-truncate">{sharingRecord.UserOrGroup.Name}</div>
                                                        </td>
                                                        <td data-label="Access">
                                                            <div class="slds-truncate">
                                                                <select name="access" class="slds-input slds-combobox__input" onchange={handleAccesSelectListChange}>
                                                                    <option selected={sharingRecord.isEdit} value={sharingRecord.optionValueEdit}>{label.accessEdit}</option>
                                                                    <option selected={sharingRecord.isRead}  value={sharingRecord.optionValueRead}>{label.accessRead}</option>
                                                                    <option value={sharingRecord.optionValueRemove}>{label.accessRemove}</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </div>
                                </template>
                            </template>
                        </div>
                </div>

                <footer class="slds-modal__footer">
                    <lightning-button
                        data-id="cancel-button"
                        label={label.cancel}
                        title={label.cancel}
                        onclick={cancel}
                    >
                    </lightning-button>
                    <lightning-button
                        data-id="submit-button"
                        type="submit"
                        label={label.save}
                        title={label.save}
                        variant="brand"
                        class="slds-p-left_small"
                    >
                    </lightning-button>
                </footer>
            </div>
        </lightning-record-edit-form>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>