<template>
    <template if:true={details}>
        <div style="text-align: center; cursor: pointer;" onclick={handleShowDetails}>
        <lightning-icon icon-name="utility:preview" size="xx-small"></lightning-icon>
        </div>
    </template>

    <template if:true={deleteFile}>
        <div style="text-align: center; cursor: pointer;" onclick={handleDeleteFile}>
            <lightning-icon icon-name="utility:delete" size="xx-small"></lightning-icon>
        </div>
    </template>

    <template if:true={showConfirmDelete}>
        <section role="dialog" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                    </button>
                    <h2 class="slds-text-heading_medium slds-hyphenate">
                        {label.headline}
                    </h2>
                </header>

                <div class="slds-modal__content slds-p-around_medium">
                    <p>{label.confirmation}</p>
                </div>

                <footer class="slds-modal__footer">
                    <lightning-button data-id="closeButton" label={label.cancel} title={label.cancel} onclick={closeModal}>
                    </lightning-button>
                    <lightning-button data-id="deleteButton" label={label.deleteButton} title={label.deleteButton} onclick={onDeleteConfirm} variant="brand" class="slds-p-left_small">
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>