<template>
    <div style="text-align: center;">
        <c-investors-list-approved-picklist row-id={value} approved={typeAttributes.approved}>
        </c-investors-list-approved-picklist>
    </div>
</template>