<template>
    <div style="text-align: center;">
        <c-investors-contact-list-action
            contact-id={value}
            action={typeAttributes.action}
        ></c-investors-contact-list-action>
    </div>
</template>