/**
 * Created by ille on 2019-03-14.
 */
.THIS {
}

.THIS tr.disabled-label label {
    display: none;
}

.THIS .icon-column {
    width: 30px;
    padding-right: 4px!important;
    padding-left: 4px;
    cursor: pointer;
}

.THIS .sum-yellow {
    background-color: rgb(244, 185, 108);
}

.THIS .sum-green {
    background-color: rgb(58, 129, 80);
}

.THIS .sum-red {
    background-color: rgb(179, 68, 59);
}

.THIS .sum-red, .THIS .sum-green, .THIS .sum-yellow {
    color: white;
}

.THIS .customIcon{
    vertical-align: top !important;
}