<template>
    <div class="slds-card__header slds-grid">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
            <div class="slds-media__figure">
                <lightning-icon
                    icon-name="standard:location"
                ></lightning-icon>
            </div>
            <div class="slds-media__body">
                <h2 class="slds-card__header-title">
                    <span>{label.setObjectGeodataSetGeoLocation}</span>
                </h2>
            </div>
            <div class="slds-no-flex">
                <lightning-button 
                    class="slds-m-right_x-small"
                    label={setLocationButtonLabel} 
                    title={setLocationButtonLabel} 
                    onclick={handleEditMode}>
                </lightning-button>
                <lightning-button 
                    label={label.setObjectGeodataSaveLocation}
                    title={label.setObjectGeodataSaveLocation} 
                    onclick={showSaveModal}
                    disabled={saveButtonIsActive}>
                </lightning-button>
            </div>
        </header>
    </div>
    <div class="slds-card__body slds-card__body_inner">
        <template if:true={showHelperMessage}>
            <c-inline-message message={helperMessage}>
            </c-inline-message>
        </template>
        <template if:true={showLocation}>
            <div class="slds-align_absolute-center" style="height:5rem">
                {label.generalLabelLatitude}: {newLatitude} {label.generalLabelLongitude}: {newLongitude}
            </div>
        </template>
        <div class="map-root" lwc:dom="manual"  style="height: 400px;">
        </div> 
    </div>
    <c-set-object-geodata-confirm-modal onrecordupdate={handleUpdate}>      
    </c-set-object-geodata-confirm-modal>
</template>