<template>
    <div class="slds-form-element">
        <template if:true={showLabel}>
            <label class="slds-form-element__label" for="combobox-id-1">{fieldLabel}</label>
        </template>
        <div class="slds-form-element__control">
            <div class="slds-combobox_container">
                <div class={dynamicDropDownClasses} aria-expanded={ariaExpanded} aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                        <input type="text" placeholder={placeholder} onkeyup={handleOnKeyPress} onclick={handleOnClickSearchTerm} class="slds-input slds-combobox__input" data-input="combobox-id-1" aria-controls="listbox-id-1" autocomplete="off" role="textbox"/>
                        <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right"> 
                            <lightning-icon
                                size="x-small"
                                icon-name="utility:down"
                                alternative-text="Down"
                            ></lightning-icon>
                        </span>
                    </div>
                    <template if:true={showDropDownList}>
                        <div id="listbox-id-1" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox" onmouseleave={handleOnMouseLeave}>
                            <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                <template for:each={filteredPicklistValues} for:item="picklist">
                                    <c-ul-list-item
                                        key={picklist.item}
                                        item={picklist.item}
                                        label={picklist.label}
                                        is-active={picklist.isActive}
                                        onlistitemclicked={handleOnListItemClicked}
                                        search-term={searchTerm}
                                    >
                                    </c-ul-list-item>
                                </template>
                            </ul>
                        </div>
                    </template>                    
                    <template if:true={showPillContainer}>
                        <lightning-pill-container
                            items={pillItems}
                            onitemremove={handlePillItemRemove}
                        ></lightning-pill-container>
                    </template>
                    
                    <template if:false={ariaExpanded}>
                        <div style="text-align:right" class="slds-m-top_x-small">
                            <lightning-button
                                label={buttonLabel}
                                title={buttonLabel}
                                variant="brand"
                                onclick={handleSelectedAll}
                            ></lightning-button>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>    
</template>