<template>
    <template if:true={showIcon}>
        <div style="text-align: center;">
            <lightning-button-icon
                size="small"
                variant="bare"
                icon-name={iconName}
                onclick={fireDeleteRelation}>
            </lightning-button-icon>
        </div>
    </template>
</template>