<template>
        <lightning-accordion allow-multiple-sections-open active-section-name={activeSections} class="slds-p-bottom_large">

            <!-- Investor Details -->
            <lightning-accordion-section name="investorDetails" label={label.investorDetails}>
                    <table>
                        <tr>
                            <td>{investorAccountBrand}</td>
                        </tr>
                        <tr>
                            <td>{investorAccountName}</td>
                        </tr>
                        <tr>
                            <td>{investorAccountStreet} {investorAccountPostalCode} {investorAccountCity}</td>
                        </tr>
                        <tr>
                            <td>{label.investorDetailsAddedOn} {investorAccountCreatedDate} {label.investorDetailsAddedBy}&nbsp;{investorAccountCreatedBy} {label.investorDetailsAddedThrough} {investorAccountSource}</td>
                        </tr>
                    </table>
            </lightning-accordion-section>


            <!-- Contacts -->
            <lightning-accordion-section name="contacts" label={label.sectionContact}>

                <div>
                        <c-investors-list-datatable
                            data={selectedRecordContacts}
                            columns={selectedRecordContactColumns}
                            key-field="id"
                            hide-checkbox-column
                            onshowdetails={handleShowDetail}
                            ondeletecontact={handleDeleteContact}
                            onaddactivity={handleAddActivity}
                        >
                        </c-investors-list-datatable>

                        <div class="slds-align_absolute-center slds-m-top_small slds-p-bottom_large">
                            <a onclick={handleViewAllContactsClick} target="_blank">{label.viewAll}</a>
                        </div>
                    </div>

                    <template if:true={selectedRecordId}>
                        <lightning-card title={label.addContact}>
                            <div>
                                <div class="slds-grid">
                                    <div class="slds-col">
                                        <lightning-input
                                            placeholder={label.contactSearchPlaceholder}
                                            type="search"
                                            variant="label-hidden"
                                            onchange={handleSearch}
                                        ></lightning-input>
                                    </div>
                                    <div class="slds-col">
                                        <lightning-radio-group
                                            variant="label-hidden"
                                            options={filterOptions}
                                            value={selectedFilter}
                                            onchange={handleSearchFilter}
                                        ></lightning-radio-group>
                                    </div>
                                </div>
                            </div>

                            <template if:true={searchResult}>
                                <div class="slds-p-top_medium slds-p-bottom_x-small" style="height: 200px;">
                                    <lightning-datatable
                                        data-id="search-result-table"
                                        data={searchResult}
                                        columns={searchColumns}
                                        key-field="id"
                                        hide-checkbox-column
                                        onrowaction={handleRowAction}
                                    >
                                    </lightning-datatable>
                                </div>
								<template if:true={contactSearchMessage}>
									<div class="slds-p-top_small">
										{contactSearchMessage}
									</div>
								</template>
                            </template>
                        </lightning-card>
                    </template>
                    <!-- contact details modal -->
                    <c-investors-contact-popover
                        top={top}
                        left={left}
                        contact={contactId}
                        onclosemodal={handleHideDetail}
                    ></c-investors-contact-popover>

            </lightning-accordion-section>

            <lightning-accordion-section name="activities" label={label.sectionActivities}>
                <!-- Activities-->
                <div>
                    <c-investors-list-side-panel-activities-table style="word-wrap: break-word;"
                        data={selectedRecordActivities}
                        columns={selectedRecordActivityColumns}
                        key-field="id"
                        hide-checkbox-column>
                    </c-investors-list-side-panel-activities-table>
                    <div class="slds-align_absolute-center slds-m-top_small slds-p-bottom_large">
                        <a onclick={handleViewAllActivitiesClick} target="_blank">{label.viewAll}</a>
                    </div>
                </div>
            </lightning-accordion-section>

            <!-- Status History -->
            <lightning-accordion-section name="statusHistory" label={label.sectionStatusHistory}>
                <lightning-datatable
                    key-field="id"
                    data={statusHistoryData}
                    columns={selectedRecordHistoryColumns}
                    hide-checkbox-column>
                </lightning-datatable>
                <div class="slds-align_absolute-center slds-m-top_small slds-p-bottom_large">
                    <a onclick={handleViewAllStatusHistoryClick} target="_blank">{label.viewAll}</a>
                </div>
            </lightning-accordion-section>

            <!-- Open Opportunities -->
            <lightning-accordion-section name="openOpportunities" label={label.sectionOpenOpps}>
                <lightning-datatable
                    key-field="id"
                    data={openOppData}
                    columns={selectedRecordOpporunityColumns}
                    hide-checkbox-column>
                </lightning-datatable>
                <div class="slds-align_absolute-center slds-m-top_small slds-p-bottom_large">
                    <a onclick={handleViewAllOppsClick} target="_blank">{label.viewAll}</a>
                </div>
            </lightning-accordion-section>

            <!-- Open Brand Opportunities -->
            <lightning-accordion-section name="openBrandOpportunities" label={label.sectionOpenBrandOpps}>
                <lightning-datatable
                    key-field="id"
                    data={openBrandOppData}
                    columns={selectedRecordBrandOpporunityColumns}
                    hide-checkbox-column>
                </lightning-datatable>
                <div class="slds-align_absolute-center slds-m-top_small slds-p-bottom_large">
                    <a onclick={handleViewAllBrandOppsClick} target="_blank">{label.viewAll}</a>
                </div>
            </lightning-accordion-section>
        </lightning-accordion>


    <template if:true={showConfirmDelete}>
        <section role="dialog" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button
                        class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title={label.close}
                        onclick={closeModal}
                    >
                        <lightning-icon
                            icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small"
                        >
                        </lightning-icon>
                        <span class="slds-assistive-text">{label.close}</span>
                    </button>
                    <h2 class="slds-text-heading_medium slds-hyphenate">
                        {label.headline}
                        <template if:true={contactNameToDelete}>
                            :&nbsp;{contactNameToDelete}
                        </template>
                    </h2>
                </header>

                <div class="slds-modal__content slds-p-around_medium">
                    <p>{label.confirm}</p>
                </div>

                <footer class="slds-modal__footer">
                    <lightning-button
                        data-id="closeButton"
                        label={label.close}
                        title={label.close}
                        onclick={closeModal}
                    >
                    </lightning-button>
                    <lightning-button
                        data-id="deleteButton"
                        label={label.delete}
                        title={label.delete}
                        onclick={deleteContact}
                        variant="brand"
                        class="slds-p-left_small"
                    >
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>