<template>
    <a onclick={handlePropertySelected}>
        <div style="height:230px;background-color: white; border:1px #d5d5d5 solid;margin:7px 0px 7px 0px;">
            <table>
                <tr>
                    <td rowspan="5" style="width:30%;padding:8px">
                        <template if:true={property.Thumbnail__c}>
                            <img src={property.Thumbnail__c} style="vertical-align:middle" />
                        </template>
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">{property.Name} - {property.propertyOwner} </td>
                </tr>
                <tr>
                    <td>{property.Street__c}</td>
                </tr>
                <tr>
                    <td>{property.PostalCode__c} {property.City__c}</td>
                </tr>
                <tr>
                    <td>{label.rentedSpace}: {property.AmountOfSpaceLet__c}</td>
                </tr>
            </table>
        </div>
    </a>

</template>