<template>
    <div style="text-align: center;">
        <lightning-icon icon-name="utility:delete" alternative-text="Delete" size="x-small" onclick={handleClick}></lightning-icon>
    </div>

    <c-investor-selection-delete-selected-contact-modal></c-investor-selection-delete-selected-contact-modal>
</template>