<template>
    <template if:true={currentPayloadRequestId}>
        <c-investor-selection-acquisition-profile-popover record-id={currentPayloadRequestId} record={currentRecord} top={currentPayloadTop} left={currentPayloadLeft}>
        </c-investor-selection-acquisition-profile-popover>
    </template>

    <!-- OPPORTUNITY HEADER STARTS -->
    <div class="slds-page-header slds-page-header_object-home slds-m-bottom_medium" style="background-color: white;">
        <div class="slds-page-header__row">
            <div class="slds-page-header__col-title">
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <lightning-icon
                            icon-name="standard:opportunity"
                            size="medium"
                        ></lightning-icon>
                    </div>
                    <div class="slds-media__body">
                        <div class="slds-page-header__name">
                            <div class="slds-page-header__name-title">
                                <h1>
                                    <span>{label.opportunity}</span>
                                    <span
                                        class="slds-page-header__title slds-truncate"
                                        title={name}
                                        >{name}</span
                                    >
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-page-header__col-actions">
                <div class="slds-page-header__controls">
                    <div class="slds-page-header__control">
                        <c-navigate-to-button
                            class="slds-p-left_small"
                            label={label.toInvestorsOverview}
                            record-id={recordId}
                            tab-name="InvestorsList"
                            nav-type="standard__navItemPage"
                        ></c-navigate-to-button>
                        <c-navigate-to-button
                            class="slds-p-left_small"
                            label={label.back}
                            record-id={recordId}
                            nav-type="standard__recordPage"
                        ></c-navigate-to-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- OPPORTUNITY HEADER ENDS -->

    <!-- BODY OF TAB STARTS -->
    <div class="slds-page-header slds-page-header_object-home slds-m-bottom_medium" style="background-color: white; height:700px;">
    <lightning-layout>
        <lightning-layout-item size="12">
            <c-page-template273>

                <!-- LEFT SECTION STARTS -->
                <div slot="left">
                    <c-investor-selection-tab
                        onsearchchange={handleSearchChangeHandler}
                    ></c-investor-selection-tab>
                </div>
                <!-- LEFT SECTION ENDS -->

                <!-- CENTER SECTION STARTS -->
                <div slot="center">
                    <!-- SECTION FOR SEARCH STARTS -->
                    <template if:true={showInformationForSearchTab}>

                        <c-investor-selection-datatable
                            opportunity-id={recordId}
                            ononerecordselected={handleOneRecordSelected}
                            onrecordsavailable={handleRecordsAvailable}
                            onnorowisselected={handleNoRowIsSelectedHandler}
                            selected-tab="Detailed Search">
                        </c-investor-selection-datatable>
                    </template>
                    <!-- SECTION FOR SEARCH ENDS -->

                    <!-- SECTION FOR MY LISTS STARTS -->
                    <template if:true={showInformationForMyListsTab}>

                        <div>
                            <c-investor-selection-datatable
                                    opportunity-id={recordId}
                                    ononerecordselected={handleOneRecordSelected}
                                    onrecordsavailable={handleRecordsAvailable}
                                    onnorowisselected={handleNoRowIsSelectedHandler}
                                    selected-tab="List">
                            </c-investor-selection-datatable>
                        </div>
                    </template>
                    <!-- SECTION FOR MY LISTS ENDS -->

                    <!-- SECTION FOR MATCHING STARTS -->
                    <template if:true={showInformationForMatchingTab}>
                        <c-investor-selection-datatable
                            opportunity-id={recordId}
                            ononerecordselected={handleOneRecordSelected}
                            onrecordsavailable={handleRecordsAvailable}
                            onnorowisselected={handleNoRowIsSelectedHandler}
                            selected-tab="Matching">
                        </c-investor-selection-datatable>
                    </template>
                    <!-- SECTION FOR MATCHING ENDS -->


                    <!-- SECTION FOR UNDERBIDDER STARTS -->
                    <template if:true={showInformationForBidderTab}>
                        <div>
                            <c-investor-selection-datatable
                                    opportunity-id={recordId}
                                    ononerecordselected={handleOneRecordSelected}
                                    onnorowisselected={handleNoRowIsSelectedHandler}
                                    selected-tab="bidder">
                            </c-investor-selection-datatable>
                        </div>
                    </template>
                    <!-- SECTION FOR UNDERBIDDER ENDS -->
                </div>
                <!-- CENTER SECTION ENDS -->

                <!-- RIGHT SECTION STARTS -->
                <div slot="right">
                    <!-- SECTION FOR SEARCH STARTS -->
                    <template if:true={showInformationForRightSidePanel}>

                        <!-- <template if:true={showRightSideHelpMessage}>
                            <lightning-layout multiple-rows="true">
                                <lightning-layout-item size="12">
                                        <c-inline-message message={label.rightHelpMessage}></c-inline-message>
                                </lightning-layout-item>
                            </lightning-layout>
                        </template> -->

                        <lightning-layout multiple-rows="true">
                            <lightning-layout-item size="12">
                                <c-record-form
                                    icon-name="standard:account"
                                    card-name={label.account}
                                    event-name="InvestorSelection__showAccount"
                                    onrecordformchange={handleRecordFormChangeHandler}
                                    data-name="accountRecordForm"
                                >
                                </c-record-form>
                            </lightning-layout-item>

                            <lightning-layout-item size="12">
                                <div class="slds-p-top_x-small">
                                    <c-record-form
                                        icon-name="standard:contact"
                                        card-name={label.contact}
                                        event-name="InvestorSelection__showContact"
                                        onrecordformchange={handleRecordFormChangeHandler}
                                        data-name="contactRecordForm"
                                    >
                                    </c-record-form>
                                </div>
                            </lightning-layout-item>
                            <template if:true={showAcquisitionProfilesRelatedList}>
                                <lightning-layout-item size="12">
                                    <div class="slds-p-top_x-small">
                                        <h3 slot="title">
                                            <div class="slds-m-left_x-small slds-m-top_xxx-small">
                                                <b>{acquisitionProfilePluralNameLabel}</b>
                                            </div>
                                        </h3>
                                        <c-investor-selection-acquisition-profiles-table  key-field="id" data={acquisitionProfileData} columns={aquisitionProfileColumns} hide-checkbox-column></c-investor-selection-acquisition-profiles-table>
                                    </div>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>

                    </template>
                    <!-- SECTION FOR SEARCH ENDS -->
                </div>
                <!-- RIGHT SECTION ENDS -->
            </c-page-template273>
        </lightning-layout-item>
    </lightning-layout>
    </div>
    <!-- BODY OF TAB ENDS -->
</template>