<template>

    <div style="float:left;margin-left:10px">
        <lightning-button-icon
            size="medium"
            variant="bare"
            icon-name="utility:preview"
            onclick={fireDetailButton}>
        </lightning-button-icon>
    </div>

    <template if:true={_showActionButton}>
        <div style="text-align: center;">
            <lightning-button-icon
                    size="medium"
                    variant="bare"
                    icon-name="utility:add"
                    onclick={fireActionButton}>
            </lightning-button-icon>
        </div>
    </template>
</template>