<template>
    <template if:true={showMessage}>
        <article class="slds-card slds-theme_warning slds-notify slds-text-heading_small" style="font-weight: var(--lwc-fontWeightLight,300);"><!--slds-notify_toast style="color: rgb(252, 0, 0)"-->
            <div class="slds-card__body slds-card__body_inner">
                <lightning-layout>
                    <lightning-layout-item size="1">
                        <div class="slds-m-right_x-small" style="position: relative;top: 30%;">
                            <lightning-icon
                                icon-name={iconName}
                                size="small">
                            </lightning-icon>
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item size="10">
                        <div class="slds-notify__content">
                            <h2 class="slds-text-heading_small ">{message}</h2>
                        </div>
                    </lightning-layout-item>
                </lightning-layout>
            </div>
        </article>
    </template>

    <!--<template if:true={showMessage}>
            <div class="slds-is-relative">
                <div class={theme} role="status">
                        <div class="slds-m-right_x-small">
                            <lightning-icon icon-name={iconName} variant={iconVariant} alternative-text="Approved" title="Approved" size="small"></lightning-icon>
                        </div>
                        

                        <div class="slds-notify__content">
                            <h2 class="slds-text-heading_small ">{message}</h2>
                        </div>
                        <template if:true={isClosable}>
                            <div class="slds-notify__close">
                
                                <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close" onclick={handleCloseClickHandler}>
                                    <lightning-icon
                                        icon-name="utility:close"
                                        alternative-text="close"
                                        variant="inverse"
                                        size="small" ></lightning-icon>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                            </div>
                        </template>

            </div>
        </div>
    </template>-->
</template>