<template>
	<template if:true={showModal}>
		<section
				role="dialog"
				tabindex="-1"
				aria-labelledby="modal-heading-01"
				aria-modal="true"
				aria-describedby="modal-content-id-1"
				class="slds-modal slds-fade-in-open">
			<div class="slds-modal__container">
				<header class="slds-modal__header">
					<button
							class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
							title={label.close}
							onclick={hide}
					>
						<lightning-icon
								icon-name="utility:close"
								alternative-text="close"
								variant="inverse"
								size="small"
						>
						</lightning-icon>
						<span class="slds-assistive-text">{label.close}</span>
					</button>
					<h2 class="slds-text-heading_medium slds-hyphenate">
						{label.newMailing}
					</h2>
				</header>

				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					{newMailingModalContent}
					<template if:true={newMailingModalWarning}>
						<div class="slds-box">
							<div class="slds-inline_icon_text slds-grid slds-inline_icon_text--warning">
								<lightning-icon icon-name="utility:warning" size="small"></lightning-icon>

								<div class="slds-col slds-align-middle">
									<p>{newMailingModalWarning}</p></div>
							</div>
						</div>
					</template>
				</div>

				<footer class="slds-modal__footer modal-hidden">

					<lightning-button
							label={label.cancelLabel}
							variant="bare"
							style="padding-right: 5px;"
							onclick={handleCancelNewMailingModal}>
					</lightning-button>
					<lightning-button
							label={label.confirmLabel}
							variant="brand"
							disabled={confirmButtonDisabled}
							onclick={handleConfirmNewMailingModal}>
					</lightning-button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
</template>