<template>
	<template if:true={showModal}>
        <section role="dialog" class="slds-modal slds-fade-in-open">

            <lightning-spinner if:true={isLoading} alternative-text="Loading" size="medium"></lightning-spinner>

            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title={label.close} onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                        </lightning-icon>
                        <span class="slds-assistive-text">{label.close}</span>
                    </button>
                    <h2 class="slds-text-heading_medium slds-hyphenate">
                            {label.header}
                        </h2>
                </header>

                <!-- US 1615 -->
                <div class="slds-modal__content slds-p-around_medium">
                    <c-investors-list-activity-form data-id="task-form" investor-id={recordId} investor-row={rowRecord}
													contact-id={contactId} activity-type="task"
													ondisablebutton={handledisablebutton}
													list-of-contacts={listOfContacts}
					>
                    </c-investors-list-activity-form>
                </div>

                <footer class="slds-modal__footer">
                    <lightning-button data-id="closeButton" label={label.cancel} title={label.cancel} onclick={closeModal} style="padding-right: 12px">
                    </lightning-button>
                    <lightning-button data-id="deleteButton" label={label.save} title={label.save} onclick={createActivity} variant="brand" disabled={saveButtonDisabled}>
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>