<template>
    <div style="text-align: center; cursor: pointer;" onclick={handleDeleteActivity}>
        <lightning-icon icon-name="utility:delete" size="xx-small" ></lightning-icon>
    </div>
</template>